# Paystack Configuration
# Get your Public Key from: https://dashboard.paystack.com/#/settings/developer
VITE_PAYSTACK_PUBLIC_KEY=pk_test_941dd0e245938976b27767f1a47b6493731bde0f

# Frontend URL
FRONTEND_URL=http://localhost:3000

# Environment
NODE_ENV=development
